.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 70px; /* Adjust padding to account for the fixed nav */
  }
  
  .box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .box .title {
    font-weight: bold;
    color: green;
  }

  .title{
    font-weight: bold;
    color: green;
  }