# Ignore all .env files
*.env
*config.env

# Ignore folders inside tafe
*/node_modules/
 

# Ignore all .env files
*.env

# Ignore node_modules directories
node_modules/*

# Ignore all composer files
composer/

 

